@import 'variables.scss';
@import 'mixins.scss';
@import 'bootstrap.scss';
@import 'typography.scss';
@import 'layout.scss';

.event-card{
    border-radius: 4%;
}

.event-card:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
    background-color: rgba(98, 99, 98, 0.1);
}

.loader-div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}